{% extends 'main/header.html' %}
    {% block title %}Prediction{% endblock %}

    {% block content %}

{% load static %}


<!-- Slide 2 (#55) -->

<section class="slide fade-6 kenBurns">

  <div class="content">

    <div class="container">

      <div class="wrap">



          <div class="pad shadow left selected ae-3">

             <strong><h3>El resultado de la red bayesiana es: </h3></strong>

            </h1></strong><h5 style="font-family:Helvetica"> Indice : {{resultadoBayes}}</h5></strong>

          </div>


          <div class="pad shadow left selected ae-3">
            <strong><h3>El resultado de la red neuronal</h3></strong>
            </strong><h5 style="font-family:Helvetica"> Indice : {{resultneu}}</h5></strong>
              <img src="{% static 'main/assets/img/background/neuronalnet.jpg' %}"
              alt="neuronalnet" width="100%" height="100%">
           </div>


        <div class="pad shadow left selected ae-3">
          <strong><h3>Clustering</h3></strong>
            <img src="{% static 'main/assets/img/background/cluster.jpg' %}"
            alt="clustering" width="100%" height="100%">
         </div>
      </div>
    </div>
  </div>

  <!-- <div class="background" style="background-image:url(assets/img/background/img-55.jpg)"></div> -->
  <div class="background" style="background-image:url({% static 'main/assets/img/background/img-55.jpg' %})"></div>

</section>
{% endblock %}
